---
Checks:            '*,
                    -altera-*,
                    -fuchsia-*,
                    -cert-err58-cpp,
                    -cppcoreguidelines-avoid-magic-numbers,
                    -cppcoreguidelines-avoid-non-const-global-variables,
                    -cppcoreguidelines-non-private-member-variables-in-classes,
                    -cppcoreguidelines-special-member-functions,
                    -google-build-using-namespace,
                    -google-runtime-references,
                    -hicpp-no-assembler,
                    -hicpp-special-member-functions,-warnings-as-errors,
                    -llvmlibc-implementation-in-namespace,
                    -llvmlibc-callee-namespace,
                    -llvmlibc-restrict-system-libc-headers,
                    -misc-non-private-member-variables-in-classes,
                    -modernize-use-nodiscard,
                    -modernize-use-trailing-return-type,
                    -readability-magic-numbers,
                    -readability-function-cognitive-complexity,
                    -bugprone-easily-swappable-parameters,
                    '
WarningsAsErrors:  '*'
HeaderFilterRegex: '*'
