---
Checks:            '*,
                    -altera-*,
                    -fuchsia-*,
                    -abseil-string-find-startswith,
                    -boost-use-ranges,
                    -bugprone-easily-swappable-parameters,
                    -bugprone-exception-escape,
                    -bugprone-chained-comparison,
                    -cert-err58-cpp,
                    -cppcoreguidelines-avoid-const-or-ref-data-members,
                    -cppcoreguidelines-avoid-magic-numbers,
                    -cppcoreguidelines-avoid-non-const-global-variables,
                    -cppcoreguidelines-non-private-member-variables-in-classes,
                    -cppcoreguidelines-special-member-functions,
                    -google-build-using-namespace,
                    -google-readability-casting,
                    -google-runtime-int,
                    -google-runtime-references,
                    -hicpp-no-assembler,
                    -hicpp-special-member-functions,-warnings-as-errors,
                    -hicpp-signed-bitwise,
                    -llvm-include-order,
                    -llvmlibc-callee-namespace,
                    -llvmlibc-implementation-in-namespace,
                    -llvmlibc-inline-function-decl,
                    -llvmlibc-restrict-system-libc-headers,
                    -misc-include-cleaner,
                    -misc-no-recursion,
                    -misc-non-private-member-variables-in-classes,
                    -misc-use-anonymous-namespace,
                    -modernize-use-nodiscard,
                    -modernize-use-trailing-return-type,
                    -performance-avoid-endl,
                    -readability-function-cognitive-complexity,
                    -readability-identifier-length,
                    -readability-magic-numbers,
                    -readability-math-missing-parentheses,
                    -readability-redundant-casting,
                    '
WarningsAsErrors:  '*'
HeaderFilterRegex: '*'
