name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  PKG_CONFIG_PATH: /usr/local/opt/openssl/lib/pkgconfig

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    
    steps:
    - uses: actions/checkout@v1
    
    - name: dependencies (macos)
      if: ${{ matrix.os == 'macos-latest' }}
      run: |
        brew reinstall openssl@1.1
        brew install pkgconfig doctest llvm
        ln -s "/usr/local/opt/llvm/bin/clang-format" "/usr/local/bin/clang-format"
        ln -s "/usr/local/opt/llvm/bin/clang-tidy" "/usr/local/bin/clang-tidy"

  
    - name: dependencies (ubuntu)
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: |
        brew install pkgconfig
        brew install --build-from-source doctest

    - name: configure to use clang-tidy
      run: make tidy

    - name: build
      run: make everything

    - name: run tests
      run: make test-all

