name: Build and Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  PKG_CONFIG_PATH: /usr/local/opt/openssl/lib/pkgconfig

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    
    steps:
    - uses: actions/checkout@v1
    
    - name: dependencies (ubuntu and macos)
      if: ${{ matrix.os == 'macos-latest'}}
      run: |
        brew update
        brew install pkgconfig doctest
        brew reinstall openssl@1.1

    - name: configure to use clang-tidy
      run: make tidy

    - name: build
      run: make everything

    - name: generate test vectors
      run: make gen

    - name: run tests
      run: make test-all

